#bibtexBtn {
    background-color: white;
    border-style: none;
}

#currentSlide {
    width: 100%;
    height: auto;
    border: solid #666666;
}

#slidecount {
    display: none;
    width: 50%;
}

#slideshowButtons {
    margin: 12px 220px 12px 220px;
}

#url, #nameOfSlides, #fileEnding {
    display: none;
}

.bibtexTextHidden {
    display: none;
}

.container {
    padding: 15px;
}

.downloads {
    height: 40px;
    width: auto;
    padding: 10px;
}

.slideshowBtn {
    width: 75px;
    height: 40px;
}

a {
    text-decoration: none;
    color: #666666;
}

a:hover {
    text-decoration: underline;
}

a em {
    font-style: normal;
}

body {
    margin: 60px auto;
    width: 70%;
    background-color: white;
}

button {
    background-color: #d5d5d5;
}

caption {
    text-align: left;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

nav {
    border-bottom: 1px solid #d5d5d5;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

ul {
    margin: 0px;
}

ul li p, ul li {
    font-size: 21px;
    line-height: 29px;
    margin: 0px;
    padding: 5px;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
