<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="icon" type="image/png" href="https://www.dima.tu-berlin.de/fileadmin/fg131/Logos/DIMA_rot_de_65.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://www.dima.tu-berlin.de/fileadmin/fg131/Logos/DIMA_rot_de_65.png" sizes="96x96">
</head>
    <body>
    <nav>
        <ul>
            <li><a href="/">About</a></li>
            <li><a href="/publications">Publications</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/teaching">Teaching</a></li>
        </ul>
    </nav>
    <div class="container">
    <h1>{{ page.title }}</h1>

    {{ content }}

    </div><!-- /.container -->

    <footer>
        <ul>
            <li><a href="mailto:{{ site.email }}">Mail</a></li>
            <li><a href="{{ site.github }}">Github</a></li>
        </ul>
    </footer>
</body>
</html>
