<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="../js/publications.js"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">About</a></li>
            <li><a href="/publications">Publications</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/teaching">Teaching</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>{{ page.title }}</h1>
        <div>{{ page.author }}</div>
        <div>In {{ page.booktitle }}, pages {{ page.pages }}, {{ page.year }}</div>
        <h2>Abstract</h2>
        {{ page.abstract }}
        {{ content }}
    </div><!-- /.container -->
    <h2>Folien</h2>
    <img id="currentSlide" src="/slides/pic1.jpg" width="256" height="172"> <br>
    <progress id="slidecount" value="0" max="2"></progress><br>
    <p>
        <button type="button" onclick="slideshow(-1)">previous</button>
        <button type="button" onclick="slideshow(1)">next</button>
    </p>
    <h2>Downloads</h2>
    <table> 
        <td><a href="/downloads/publication.pdf" download><img id="pdfIcon" src="icons/pdf.jpg"></a></td>
        <td><a href="/downloads/slides.pptx" download><img id="pptIcon" src="icons/ppt.jpg"></a></td>
        <td><button id="bibtexBtn" onclick="showBibtexText()"><img src="icons/bibtex.jpg"></button></td>
        <td id="bibtexText" class="bibtexTextHidden"><pre>{{ page.bibtex }}</pre></td>
    </table>

    <footer>
        <ul>
            <li><a href="mailto:england@campus.tu-berlin.de">email</a></li>
            <li><a href="https://github.com/johannaengland">github.com/johannaengland</a></li>
        </ul>
    </footer>
</body>
</html>
