<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="../js/publications.js"></script>
    <link rel="icon" type="image/png" href="https://www.dima.tu-berlin.de/fileadmin/fg131/Logos/DIMA_rot_de_65.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://www.dima.tu-berlin.de/fileadmin/fg131/Logos/DIMA_rot_de_65.png" sizes="96x96">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">About</a></li>
            <li><a href="/publications">Publications</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/teaching">Teaching</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>{{ page.title }}</h1>
        <p>{{ page.author }}</p>
        <p>In {{ page.booktitle }}, pages {{ page.pages }}, {{ page.year }}</p>
        <h2>Abstract</h2>
        {{ page.abstract }}
        {{ content }}
        
        <h2>Folien</h2>
        <img id="currentSlide"> <br>
        <div id="slideshowButtons">
            <button class="slideshowBtn" type="button" onclick="slideshow(-1)">previous</button>
            <button class="slideshowBtn"type="button" onclick="slideshow(1)">next</button>
        </div>
        <h2>Downloads</h2>
        <table> 
            <td><a href="/downloads/publication.pdf" download><img id="pdfIcon" class="downloads" src="/icons/pdf.jpg"></a></td>
            <td><a href="/downloads/slides.pptx" download><img id="pptIcon" class="downloads" src="/icons/ppt.jpg"></a></td>
            <td><a href="/downloads/bibtex.bib" download><img id="bibtexIcon" class="downloads" src="/icons/bibtex.jpg"></a></td>

        </table>
    </div><!-- /.container -->
        
    <footer>
        <ul>
            <li><a href="mailto:{{ site.email }}">Mail</a></li>
            <li><a href="{{ site.github }}">Github</a></li>
        </ul>
    </footer>
    
    <!-- These are no elements of the page - just helper //-->
    <p id="url"> {{ page.url }} </p>
    <p id="nameOfSlides"> {{ page.nameOfSlides }} </p>
    <p id="fileEnding"> {{ page.fileEnding }} </p>
</body>
</html>
